.add-shipment-container {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;

  .shipment-form-container {
    flex: 1;
    display: flex;
    flex-flow: column;
    margin-right: 50px;

    .shipment-form-group {
      margin-bottom: 20px;

      .label {
        display: flex;
        width: 100%;
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: 700;
      }

      .input {
        width: 100%;
        height: 45px;
        border: 2px solid #dadcde;
        padding: 10px;
        font-size: 14px;
        border-radius: 5px;
        display: flex;
        background: #fff;
        color: #111f2c;
      }
    }
  }

  .shipment-summary-container {
    flex: 1;
    display: flex;
    flex-flow: column;
    border: 1px solid #9999994d;
    border-radius: 2px;
    align-items: center;
    padding: 1rem;

    > :nth-child(n + 2) {
      flex: 1;
    }

    h3 {
      display: inline-block;
      padding: 0 0.5rem;
      font-size: 1rem;
      background-color: #fff;
      position: relative;
      top: -25px;
    }
    .total-price-container {
      width: 100%;
      margin-bottom: 29px;
      border: 1px solid #9999994d;
      border-radius: 2px;

      h4 {
        text-align: center;
        padding-top: 8px;
      }
    }
  }
}

.shipment-overview {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  align-self: flex-start;
  padding-top: 20px;
  padding-top: 20px;
  max-width: 650px;
  padding: 1em 3em;

  section {
    border-top: 1px solid #80808059;
    border-bottom: 1px solid #80808059;

    div {
      margin-top: 10px;

      &:last-child {
        margin-bottom: 10px;
      }
    }
  }
}
