.shipment-details-container {
  display: flex;
  align-items: center;
  justify-content: center;
  .styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1rem;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-spacing: 0;
    max-width: 720px;

    thead tr {
      background-color: #3a5fb3;
      color: #ffffff;
      text-align: left;
    }

    th,
    td {
      padding: 12px 15px;
    }

    tbody tr {
      border-bottom: 1px solid #dddddd;
      cursor: pointer;
    }
    tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
    }
    tbody tr:last-of-type {
      border-bottom: 2px solid #3a5fb3a8;
    }
    tbody tr.active-row {
      font-weight: bold;
      color: #009879;
    }
  }
}
