.profile-menu {
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: 60%;
    margin: 20px auto;
    text-decoration: underline;

    button {
      border-radius: 0px;
      padding: 5px;
    }

    button:nth-child(1) {
      border-right: 3px solid black;
    }
    button:nth-child(3) {
      border-left: 3px solid black;
    }
}

.profile-content {
    margin: 0 auto;
    width: 50%;
    display: grid; 
    grid-template: repeat(4, auto) / repeat(2, auto);

    label {
        font-weight: bold;
    }
}

.profile-buttons {
    margin-top:20px;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    justify-content: space-evenly;
    

    Button {
        padding: 20px;
    }
}