//Global styling

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  background: #f7f4ed;
}

.container {
  padding-bottom: 10rem;
}

button:focus,
button {
  border: none;
  outline: 0;
}

.btn-action {
  background: #314252;
  width: 100%;
  border: none;
  min-height: 50px;
  border-radius: 30px;
  color: white;
  letter-spacing: 1px;

  &:hover {
    color: white;
  }

  &:focus {
    box-shadow: none;
  }
}
