.admin-page {
  display: flex;
  flex-flow: column;
  justify-content: center;

  max-width: 100%;
  margin: 20px 20px;

  .admin-title {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
  }

  .admin-menu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 60%;
    margin: 20px auto;

    .admin-navlinks {
      display: flex;
      align-items: center;
      cursor: pointer;
      img {
        max-width: 45px;
        margin-right: 5px;
      }
    }

    button {
      border-radius: 0px;
      padding: 5px;
      color: black;
      font-weight: 500;
      border: none;

      &:active,
      &:focus,
      &:hover {
        border: none;
        box-shadow: none;
        text-decoration: none;
      }
    }

    button:nth-child(1) {
      border-right: 3px solid black;
    }
    button:nth-child(3) {
      border-left: 3px solid black;
    }
  }
}

.all-accounts-container {
  border-radius: 4px;
  margin: 2%;
  padding: 5%;
}

.account-table-header {
  justify-content: center;
}

.edit-account-form {
  display: grid;
  margin: 20px;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(5, 20px);
  row-gap: 25px;
  column-gap: 25px;

  .form-buttons {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 5px;
  }
}
