.admin-page {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid grey;

  max-width: 960px;
  margin-top: 20px;
  margin-left: 20px;

  .sidebar {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .admin-content {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
  }
  .edit-user-view {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10%;
    border: 2px solid black;
    padding: 15px;
    background-color: white;

    .dual-inputs {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-around;
      
    }

  }
}
