
h3 {
  text-align: center;
}
.search-container {
  padding: 2%;
  height: 4%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  border-radius: 3px;;



}

.elements {
  display:flex;
  flex-direction: row;
  justify-content: center;

}
.search-bar {
  padding: 1.5% 0 0 2%;
  height: 45px;
  width: 60%;
  margin-top: 3%;
  margin-bottom: 2%;
  display: block;
  font-size: 1em;
  border-radius: 20px;
  background-color: white;
  box-shadow: 5px 5px 8px 5px #888888;
}

.search-icon {
  width: 50px;
  height: 45px;
  padding: 6px 0px;
  border-radius: 30px;
  font-size: 16px;
  text-align: center;
  display:block;
  margin-left: 50px;
}

input {
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 90%;

  &:focus{
    outline: none;
  }
}

