
h1,h5 {
  text-align: center;

}

.all-countries-container {
  border: 2px solid #000000;
  border-radius: 4px;
  margin: 2%;
  padding: 5%;
}

.country-table-header {
  justify-content: center;
}

.button{
  margin-bottom: 10px;
}

