.register {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  max-width: 620px;
  padding-top: 50px;
  position: relative;

  .register-form-group {
    margin-bottom: 20px;

    .label {
      display: flex;
      width: 100%;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 700;
    }

    .input {
      width: 100%;
      height: 45px;
      border: 2px solid #dadcde;
      padding: 10px;
      font-size: 14px;
      border-radius: 5px;
      display: flex;
      background: #fff;
      color: #111f2c;
    }

    .react-datepicker-wrapper {
      width: 100%;

      input {
        cursor: pointer;
      }
    }

    .select-picker {
      div {
        cursor: pointer;
      }
    }
  }

  .full-width {
    flex: 0 0 100%;
    padding-right: 15px;
  }

  .half-width {
    flex: 0 0 50%;
    padding-right: 15px;
  }

  .register-button {
    background: #314252;
    width: 100%;
    border: none;
    height: 50px;
    border-radius: 30px;
  }
}

.phone-container {
  display: flex;
  flex-flow: column;
  flex: 0 0 65%;
  padding: 1rem;

  input {
    margin-bottom: 10px;
    width: 100%;
    height: 35px;
    border: 2px solid #dadcde;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    display: flex;
    background: #fff;
    color: #111f2c;
    border-radius: 2px;
  }

  button {
    background-color: #b85fc6;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    height: 45px;
    border-radius: 10px;
    border: none;

    &:hover {
      color: white;
    }
  }
}
