.register {
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  max-width: 620px;
  padding-top: 50px;
  position: relative;

  .register-form-group {
    margin-bottom: 20px;

    .label {
      display: flex;
      width: 100%;
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 700;
    }

    .input {
      width: 100%;
      height: 45px;
      border: 2px solid #dadcde;
      padding: 10px;
      font-size: 14px;
      border-radius: 5px;
      display: flex;
      background: #fff;
      color: #111f2c;

      &:read-only {
        background-color: wheat;
        border: none;
        outline: none;
      }
    }

    .react-datepicker-wrapper {
      width: 100%;

      input {
        cursor: pointer;
      }
    }

    .select-picker {
      div {
        cursor: pointer;
      }
    }

    .phoneNbrContainer {
      display: flex;
      align-items: center;

      .country-code {
        flex: 0 0 30%;
        margin-right: 10px;
      }
    }
  }

  .full-width {
    flex: 0 0 100%;
    padding-right: 15px;
  }

  .half-width {
    flex: 0 0 50%;
    padding-right: 15px;
  }

  .register-button {
    background: #314252;
    width: 100%;
    border: none;
    height: 50px;
    border-radius: 30px;
  }
}

.phone-container {
  width: 100%;
  flex: 1 1 100%;

  padding: 20px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;

  align-items: center;
  max-width: 500px;
  position: relative;

  input {
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    border: 2px solid #dadcde;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    display: flex;
    background: #fff;
    color: #111f2c;
    border-radius: 2px;
  }

  p:nth-of-type(1) {
    font-weight: 500;
  }

  p:nth-of-type(2) {
    font-size: 11px;
  }

  section {
    width: 100%;
  }

  button {
    background: #314252;
    width: 100%;
    border: none;
    height: 50px;
    color: white;

    &:hover {
      color: white;
    }
  }
}
